body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1120px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:42px;
  width:600px;
  height:1120px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:552px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1061 {
  position:absolute;
  left:165px;
  top:0px;
  width:145px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1063 {
  position:absolute;
  left:165px;
  top:23px;
  width:109px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u1065 {
  position:absolute;
  left:257px;
  top:60px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u1066 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u1067 {
  position:absolute;
  left:37px;
  top:60px;
  width:140px;
  height:30px;
}
#u1067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1067_input:disabled {
  color:grayText;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u1068 {
  position:absolute;
  left:37px;
  top:818px;
  width:230px;
  height:27px;
  color:#199ED8;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
.u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFC000;
}
.u1072 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1073 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
.u1074 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u1070-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:400px;
  height:30px;
}
#u1070-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:30px;
}
#u1070-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:400px;
  height:30px;
}
#u1070-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:30px;
}
#u1070-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:400px;
  height:30px;
}
#u1070-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:400px;
  height:30px;
}
#u1070-8 {
  position:absolute;
  left:0px;
  top:210px;
  width:400px;
  height:30px;
}
#u1070-9 {
  position:absolute;
  left:0px;
  top:240px;
  width:400px;
  height:30px;
}
#u1070-10 {
  position:absolute;
  left:0px;
  top:270px;
  width:400px;
  height:30px;
}
#u1070-11 {
  position:absolute;
  left:0px;
  top:300px;
  width:400px;
  height:30px;
}
#u1070-12 {
  position:absolute;
  left:0px;
  top:330px;
  width:400px;
  height:30px;
}
#u1070-13 {
  position:absolute;
  left:0px;
  top:360px;
  width:400px;
  height:30px;
}
#u1070-14 {
  position:absolute;
  left:0px;
  top:390px;
  width:400px;
  height:30px;
}
#u1070-15 {
  position:absolute;
  left:0px;
  top:420px;
  width:400px;
  height:30px;
}
#u1070-16 {
  position:absolute;
  left:0px;
  top:450px;
  width:400px;
  height:30px;
}
#u1070-17 {
  position:absolute;
  left:0px;
  top:480px;
  width:400px;
  height:30px;
}
#u1070-18 {
  position:absolute;
  left:0px;
  top:510px;
  width:400px;
  height:30px;
}
#u1070-19 {
  position:absolute;
  left:0px;
  top:540px;
  width:400px;
  height:30px;
}
#u1070-20 {
  position:absolute;
  left:0px;
  top:570px;
  width:400px;
  height:30px;
}
#u1070-21 {
  position:absolute;
  left:0px;
  top:600px;
  width:400px;
  height:30px;
}
#u1070-22 {
  position:absolute;
  left:0px;
  top:630px;
  width:400px;
  height:30px;
}
#u1070-23 {
  position:absolute;
  left:0px;
  top:660px;
  width:400px;
  height:30px;
}
#u1070-24 {
  position:absolute;
  left:0px;
  top:690px;
  width:400px;
  height:30px;
}
#u1070-25 {
  position:absolute;
  left:0px;
  top:720px;
  width:400px;
  height:30px;
}
#u1070-26 {
  position:absolute;
  left:0px;
  top:750px;
  width:400px;
  height:30px;
}
#u1070-27 {
  position:absolute;
  left:0px;
  top:780px;
  width:400px;
  height:30px;
}
#u1070-28 {
  position:absolute;
  left:0px;
  top:810px;
  width:400px;
  height:30px;
}
#u1070-29 {
  position:absolute;
  left:0px;
  top:840px;
  width:400px;
  height:30px;
}
#u1070-30 {
  position:absolute;
  left:0px;
  top:870px;
  width:400px;
  height:30px;
}
#u1070-31 {
  position:absolute;
  left:0px;
  top:900px;
  width:400px;
  height:30px;
}
#u1070-32 {
  position:absolute;
  left:0px;
  top:930px;
  width:400px;
  height:30px;
}
#u1070-33 {
  position:absolute;
  left:0px;
  top:960px;
  width:400px;
  height:30px;
}
#u1070-34 {
  position:absolute;
  left:0px;
  top:990px;
  width:400px;
  height:30px;
}
#u1070-35 {
  position:absolute;
  left:0px;
  top:1020px;
  width:400px;
  height:30px;
}
#u1070 {
  position:absolute;
  left:47px;
  top:100px;
  width:400px;
  height:1050px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
.u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  font-size:11px;
}
.u1077 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
.u1078 {
  position:absolute;
  left:130px;
  top:0px;
  width:290px;
  height:40px;
  font-size:11px;
}
.u1079 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
.u1080 {
  position:absolute;
  left:0px;
  top:40px;
  width:420px;
  height:90px;
  font-size:11px;
  text-align:left;
}
.u1081 {
  position:absolute;
  left:2px;
  top:37px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
.u1082 {
  position:absolute;
  left:420px;
  top:0px;
  width:100px;
  height:40px;
  font-size:11px;
}
.u1083 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:130px;
}
#u1075-2 {
  position:absolute;
  left:0px;
  top:130px;
  width:420px;
  height:130px;
}
#u1075-3 {
  position:absolute;
  left:0px;
  top:260px;
  width:420px;
  height:130px;
}
#u1075-4 {
  position:absolute;
  left:0px;
  top:390px;
  width:420px;
  height:130px;
}
#u1075-5 {
  position:absolute;
  left:0px;
  top:520px;
  width:420px;
  height:130px;
}
#u1075 {
  position:absolute;
  left:37px;
  top:158px;
  width:420px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1084 {
  position:absolute;
  left:187px;
  top:60px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u1085 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1086 {
  position:absolute;
  left:347px;
  top:60px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u1087 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:320px;
  top:822px;
  width:45px;
  height:20px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:405px;
  top:822px;
  width:45px;
  height:20px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  white-space:nowrap;
}
