body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
}
#u2 {
  position:absolute;
  left:180px;
  top:70px;
  width:30px;
  height:50px;
  color:#199ED8;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u4 {
  position:absolute;
  left:52px;
  top:55px;
  width:82px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
